*{
    background-color: crimson;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    background-color: aqua;
}
h2{
    background-color: blueviolet;
}
h3{
    background-color: coral;
}