*{
    margin-top: 0px;
}
header{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}
.ol{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
}
.li{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 2px;
    
}
.li:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(128, 128, 128);
    border-radius: 6px;
    
}